.clearfix::before,
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
* {
    box-sizing: border-box;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}